.container > ul > a > li {
    padding: 1em;
}

.container > ul > a > li {
    display: grid;
    grid-template-columns: 45px 1fr;
    align-items: center;
    border-bottom: 1px solid rgba(220, 220, 220, 0.541);
}

.container > ul > a > li:hover {
    background-color: rgb(189, 249, 252);
    cursor: pointer;
}

.container > ul > a > li > img {
    height: 30px;
    width: 30px;
}

.previewMessage {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
}

.previewMessageContainer > img {
    height: 20px;
    padding-left: 10px;
}

.icons {
    height: 30px;
}
