.listContainer {
  padding: 5px;
  text-align: center;
}

.listContainer > h2 {
  text-decoration: underline;
}

.listContainer > div {
  padding: 10px;
}

.requestContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 5px;
} 

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.listContainer > div > button {
  width: 50px;
  padding: 0 5px;
  border-radius: 10px;
}


.approve {
  background-color: rgb(1, 177, 1);
}

.reject {
  background-color: rgb(161, 2, 2);
}

.icon {
  height: 25px;
}