.container {
    padding: 1em;
    margin: 10% auto;
}

.container > form {
    display:flex;
    justify-content: center;
}

.container > form > input {
    height: 40px;
    border-radius: 10px;
    padding: 5px;
}

.resultsContainer {
    display: grid;
    justify-content: center;
    padding: 1em;
}

.rightHeader {
    display: flex;
    gap: 1em;
    height: 65px;
    align-items: center;
    background-color: rgb(2, 95, 100);
    padding: 1em;
  }