.container {
  display: grid;
  grid-template-columns: 1fr 0.2fr 0.2fr;
  height: 65px;
  align-items: center;
  background-color: rgb(2, 95, 100);
  padding: 1em;
  color: gainsboro;
}

.userContainer {
  display: flex;
  gap: 15px;
}

.userContainer > img {
  height: 30px;
}

.icon {
  text-align: end;
}

.icon > a > img {
  height: 30px;
}

.icon > img:hover {
  cursor: pointer;
}

.icon > p {
  background-color: gold;
  height: 20px;
  width: 20px;
  font-size: 15px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  color: black;
}

.icons {
  height: 30px;
}

@media (max-width: 600px) {
  .icon > p {
    height: 15px;
    width: 15px;
    font-size: 12px;
  }
}
