.container {
  display: grid;
  grid-template-columns: 1fr 0.2fr 0.2fr;
  height: 65px;
  align-items: center;
  background-color: rgb(2, 95, 100);
  padding: 1em;
  color: gainsboro;
}

.icon {
  text-align: end;
}

.icon > a > img {
  height: 30px;
}

.icon > img:hover {
  cursor: pointer;
}

.icon > p {
  background-color: rgb(1, 177, 1);
  height: 20px;
  width: 20px;
  font-size: 15px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  color: gainsboro;
}