.targetMessagesContainer {
    display:grid;
    grid-template-rows: 0.05fr 1fr 65px;
    height: 100%;
}

.rightHeader {
    display: flex;
    gap: 1em;
    height: 65px;
    align-items: center;
    background-color: rgb(2, 95, 100);
    padding: 1em;
}

.rightHeader > img {
    height: 30px;
}

.groupContainer {
    flex-grow: 1;
    text-align: end;
}

.groupContainer > em {
    font-size: small;
    padding: 5px;
}

.messagesContainer {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    height: 730px;
    padding: 1em;
}

.incomingContainer {
    background-color: gainsboro;
    color: black;
    padding: 10px;
    margin: 5px;
    width:fit-content;
    max-width: 600px;
    height:min-content;
    border-radius: 5px;
}

.outgoingContainer {
    margin: 5px;
    display: flex;
    justify-content: flex-end;
}

.outgoingMessage {
    background-color:rgb(0, 173, 181);
    color: black;
    padding: 10px;
    width:fit-content;
    max-width: 600px;
    height:min-content;
    border-radius: 5px;
}

.inputContainer {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 10fr 0.5fr;
    background-color: rgb(2, 95, 100);
    padding: 10px;
}

.inputContainer > form > input {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding: 5px 10px;
}

.inputContainer > img {
    margin: 0.5em;
    vertical-align: middle;
    height: 30px;
}

.incomingContainer > h3, .outgoingMessage > h3 {
    font-size:medium;
    padding-bottom: 2px;
}

.groupContainer > button {
    padding: 0 5px;
    border-radius: 10px;
    height: min-content;
}

.loadingMessage {
    padding: 1em;
}