.contactListContainer {
    padding: 1em;   
    text-align: center;
}

.contactListContainer > h2 {
    text-decoration: underline;
}

.contactList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
}

.contactList > div:first-child {
    text-align: left;
}

.status {
    font-style: italic;
    font-size: 12px;
    color: gold;
}

.buttonContainer {
    text-align: end;
}

.buttonContainer > button  {
    gap: 5px;
    padding: 0 5px;
    border-radius: 10px;
    height: min-content;
}

.buttonContainer > button > img {
    height: 25px;
}

@media (max-width: 600px) {
    .contactListContainer {
        max-height: 300px;
        overflow-y: scroll;
    }
}