.right > main {
    height: 100%;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media (max-width: 600px) {
    .welcome {
        height: 400px;
    }
}
