.listContainer {
  padding: 1em;   
  text-align: center;
}

.searchResult {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 5px;
}

.listContainer > div {
  padding: 10px;
}

.listContainer > h2 {
  text-decoration: underline;
}

.icon {
  height: 25px;
}

.status {
  font-style: italic;
  font-size: 12px;
  color: gold;
}

.searchResult > div:first-child {
  text-align: left;
}

.buttonContainer {
  text-align: end;
}

.searchResult > button  {
  gap: 5px; 
  padding: 0 5px;
  border-radius: 10px;
  height: min-content;
}

.searchResult > button:disabled  {
  background-color: gainsboro;
  color:black;
  opacity: 0.3;
}

.searchResult > button:disabled:hover  {
  cursor: auto;
}

.searchResult > div > button > div {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media (max-width: 600px) {
  .listContainer {
      max-height: 300px;
      overflow-y: scroll;
  }
}