.listContainer {
  text-align: center;
  padding: 5px;
}

.searchResult {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 5px;
}

.listContainer > h2 {
  text-decoration: underline;
}

.icon {
  height: 25px;
}

.searchResult > button  {
  gap: 5px; 
  padding: 0 5px;
  border-radius: 10px;
  height: min-content;
}

.searchResult > button:disabled  {
  background-color: gainsboro;
  color:black;
  opacity: 0.3;
}

.searchResult > button:disabled:hover  {
  cursor: auto;
}

.searchResult > div > button > div {
  display: flex;
  align-items: center;
  gap: 5px;
}